In [3]:
import pandas as pd

df = pd.read_csv(r'D:\kuliah\Skripsi\dataset\tanpa_hot_dan_inet.csv')

print(df)

            date                                                url  \
0      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
1      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
2      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
3      2/26/2020  https://finance.detik.com/moneter/d-4916133/oj...
4      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
...          ...                                                ...
69042   2/3/2020  https://travel.detik.com/travel-news/d-4882807...
69043   2/3/2020  https://travel.detik.com/fototravel/d-4882796/...
69044   2/3/2020  https://travel.detik.com/travel-news/d-4882794...
69045   2/3/2020  https://travel.detik.com/travel-news/d-4882792...
69046   2/3/2020  https://travel.detik.com/travel-news/d-4882791...

                                                   title category  Unnamed: 4  \
0                         Kemnaker Awasi TKA di Meikarta  finance         NaN
1                      BNI Digitalkan BNI Java Jazz 2020  finance         NaN
2      Terbang ke Australia, Edhy Prabowo Mau Genjot ...  finance         NaN
3      OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...  finance         NaN
4      Saran Buat Anies-RK yang Mangkir Rapat Banjir ...  finance         NaN
...                                                  ...      ...         ...
69042  Ketumpahan Air Panas di Pesawat, Kamu Bisa Tun...   travel         NaN
69043  Foto: Bali & 9 Destinasi Paling Instagramable ...   travel         NaN
69044  Game Bikin Turis Ini Liburan ke Jepang untuk.....   travel         NaN
69045  Sekeluarga Didepak dari Pesawat, Maskapai Bila...   travel         NaN
69046  Kapal Raib di Segitiga Bermuda, Nyaris Seabad ...   travel         NaN

       Unnamed: 5 Unnamed: 6 Unnamed: 7
0             NaN        NaN        NaN
1             NaN        NaN        NaN
2             NaN        NaN        NaN
3             NaN        NaN        NaN
4             NaN        NaN        NaN
...           ...        ...        ...
69042         NaN        NaN        NaN
69043         NaN        NaN        NaN
69044         NaN        NaN        NaN
69045         NaN        NaN        NaN
69046         NaN        NaN        NaN

[69047 rows x 8 columns]

C:\Users\Reza\AppData\Local\Temp\ipykernel_17428\1317843004.py:3: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\kuliah\Skripsi\dataset\tanpa_hot_dan_inet.csv')

In [6]:
df2=df.dropna(axis=1)
print(df2)

            date                                                url  \
0      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
1      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
2      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
3      2/26/2020  https://finance.detik.com/moneter/d-4916133/oj...
4      2/26/2020  https://finance.detik.com/berita-ekonomi-bisni...
...          ...                                                ...
69042   2/3/2020  https://travel.detik.com/travel-news/d-4882807...
69043   2/3/2020  https://travel.detik.com/fototravel/d-4882796/...
69044   2/3/2020  https://travel.detik.com/travel-news/d-4882794...
69045   2/3/2020  https://travel.detik.com/travel-news/d-4882792...
69046   2/3/2020  https://travel.detik.com/travel-news/d-4882791...

                                                   title category
0                         Kemnaker Awasi TKA di Meikarta  finance
1                      BNI Digitalkan BNI Java Jazz 2020  finance
2      Terbang ke Australia, Edhy Prabowo Mau Genjot ...  finance
3      OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...  finance
4      Saran Buat Anies-RK yang Mangkir Rapat Banjir ...  finance
...                                                  ...      ...
69042  Ketumpahan Air Panas di Pesawat, Kamu Bisa Tun...   travel
69043  Foto: Bali & 9 Destinasi Paling Instagramable ...   travel
69044  Game Bikin Turis Ini Liburan ke Jepang untuk.....   travel
69045  Sekeluarga Didepak dari Pesawat, Maskapai Bila...   travel
69046  Kapal Raib di Segitiga Bermuda, Nyaris Seabad ...   travel

[69047 rows x 4 columns]

In [ ]:
import requests

try:
    url = "https://finance.detik.com/moneter/d-4916133/ojk-siapkan-stimulus-ekonomi-antisipasi-dampak-corona"
    r = requests.get(url)
    print("HTML:\n", r.text)
except:
    print("Invalid URL or some error occured while making the GET request to the specified URL")

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('D:/kuliah/Skripsi/dataset/tanpa_hot_dan_inet.csv', low_memory=False)

df=data.dropna(axis=1)

# Separate the target variable from the features
X = df.drop('date', axis=1)
y = df['date']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=42)
print(X_train['url'])

# Training and testing csv
X_train.to_csv('D:/training.csv')
X_test.to_csv('D:/testing.csv')

23773    https://news.detik.com/berita/d-4858641/70-eko...
68020    https://travel.detik.com/travel-news/d-4919219...
15639    https://food.detik.com/info-kuliner/d-4973291/...
40650    https://news.detik.com/berita/d-4902717/gegana...
50545    https://news.detik.com/berita/d-4931083/gejaya...
                               ...
37194    https://news.detik.com/berita/d-4917773/konfer...
6265     https://finance.detik.com/berita-ekonomi-bisni...
54886    https://news.detik.com/berita/d-4900968/truk-t...
860      https://finance.detik.com/berita-ekonomi-bisni...
15795    https://food.detik.com/info-kuliner/d-5010716/...
Name: url, Length: 55237, dtype: object

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

full_df = pd.read_csv("D:/kuliah/Skripsi/dataset/outputt4.csv", nrows=5000)
df = full_df[["Text"]]
df["Text"] = df["Text"].astype(str)
full_df.head()

,URL,Text,Title,Category
0,https://news.detik.com/berita/d-4858641/70-eko...,ADVERTISEMENT SCROLL TO RESUME CONTENT - Banj...,70 Ekor Ular dan Buaya Ditemukan di Bekasi Saa...,news
1,https://travel.detik.com/travel-news/d-4919219...,Jika Traveler tengah merencanakan pernikahan d...,Tempat di Dunia Paling Instagramable Buat Hone...,travel
2,https://food.detik.com/info-kuliner/d-4973291/...,"Manfaatkan waktu luang saat karantina, penyany...",Ini Keseruan Yuni Shara Bikin Orek Tempe saat ...,food
3,https://news.detik.com/berita/d-4902717/gegana...,Polri membantu menyelidiki kasus terpaparnya l...,"Gegana Bantu Atasi Limbah Radioaktif, Polri Pa...",news
4,https://news.detik.com/berita/d-4931083/gejaya...,Aksi #GejayanMemanggilLagi menolak omnibus law...,"#GejayanMemanggilLagi Tolak Omnibus Law, DPR: ...",news

In [10]:
#lowercase
df["text_lower"] = df["Text"].str.lower()
df.head()

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    # """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

,Text,text_wo_punct,text_lower
0,ADVERTISEMENT SCROLL TO RESUME CONTENT - Banj...,advertisement scroll to resume content banji...,advertisement scroll to resume content - banj...
1,Jika Traveler tengah merencanakan pernikahan d...,jika traveler tengah merencanakan pernikahan d...,jika traveler tengah merencanakan pernikahan d...
2,"Manfaatkan waktu luang saat karantina, penyany...",manfaatkan waktu luang saat karantina penyanyi...,"manfaatkan waktu luang saat karantina, penyany..."
3,Polri membantu menyelidiki kasus terpaparnya l...,polri membantu menyelidiki kasus terpaparnya l...,polri membantu menyelidiki kasus terpaparnya l...
4,Aksi #GejayanMemanggilLagi menolak omnibus law...,aksi gejayanmemanggillagi menolak omnibus law ...,aksi #gejayanmemanggillagi menolak omnibus law...

In [14]:

FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_wo_stopfreq"] = df["text_wo_punct"].apply(lambda text: remove_freqwords(text))
df.head()

df.to_csv('prepro.csv')

In [3]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

full_df = pd.read_csv("D:/kuliah/Skripsi/dataset/outputTraining11.csv", nrows=5000)
df = full_df[["Text"]]
df["Text"] = df["Text"].astype(str)
full_df.head()

#lowercase
df["text_lower"] = df["Text"].str.lower()
df.head()

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    # """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

,Text,text_lower,text_wo_punct
0,Ketua MPR RI Bambang Soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...
1,Gubernur DKI Jakarta Anies Baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...
2,Komar dan Udin seperti putus harapan. Maksud h...,komar dan udin seperti putus harapan. maksud h...,komar dan udin seperti putus harapan maksud ha...
3,Para pengusaha ritel yang tergabung dalam Asos...,para pengusaha ritel yang tergabung dalam asos...,para pengusaha ritel yang tergabung dalam asos...
4,ADVERTISEMENT SCROLL TO RESUME CONTENT Halama...,advertisement scroll to resume content halama...,advertisement scroll to resume content halama...

In [7]:
from collections import Counter
cnt = Counter()
for text in df["text_lower"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('yang', 27967),
 ('di', 24453),
 ('dan', 20527),
 ('untuk', 11195),
 ('ini', 11084),
 ('dengan', 10136),
 ('dari', 9761),
 ('dalam', 7715),
 ('itu', 6657),
 ('ada', 6551)]

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_wo_stopfreq"] = df["text_wo_punct"].apply(lambda text: remove_freqwords(text))
df.head()

df.to_csv('preprocessing1.csv')

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

full_df = pd.read_csv("D:/kuliah/Skripsi/dataset/outputTraining11.1.csv", nrows=56000)
df = full_df[["Text"]]
df["Text"] = df["Text"].astype(str)

full_df.head()

#lowercase
df["text_lower"] = df["Text"].str.lower()
df.head()

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    # """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

,Text,text_lower,text_wo_punct
0,Ketua MPR RI Bambang Soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...
1,Gubernur DKI Jakarta Anies Baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...
2,Komar dan Udin seperti putus harapan. Maksud h...,komar dan udin seperti putus harapan. maksud h...,komar dan udin seperti putus harapan maksud ha...
3,Para pengusaha ritel yang tergabung dalam Asos...,para pengusaha ritel yang tergabung dalam asos...,para pengusaha ritel yang tergabung dalam asos...
4,ADVERTISEMENT SCROLL TO RESUME CONTENT Halama...,advertisement scroll to resume content halama...,advertisement scroll to resume content halama...

In [2]:
from collections import Counter
cnt = Counter()
for text in df["text_lower"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('yang', 309922),
 ('di', 267646),
 ('dan', 225856),
 ('untuk', 124367),
 ('ini', 121026),
 ('dengan', 112837),
 ('dari', 107320),
 ('dalam', 84610),
 ('itu', 75581),
 ('ada', 72453)]

In [6]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_wo_stopfreq"] = df["text_wo_punct"].apply(lambda text: remove_freqwords(text))
df.head()

df.to_csv('textpreprocessing2.csv')

In [1]:
import numpy as np
import pandas as pd
import string
pd.options.mode.chained_assignment = None

full_df = pd.read_csv("D:/kuliah/Skripsi/ipynb/Data/textpreprocessing2.csv", nrows=56000)
df = full_df[["Text"]]
df["Text"] = df["Text"].astype(str)

full_df.head()

#lowercase / case folding
df["text_lower"] = df["Text"].str.lower()
df.head()

# Tokenizing
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    # """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

from collections import Counter
cnt = Counter()
for text in df["text_lower"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

# Filtering
df["text_wo_stopfreq"] = df["text_wo_punct"].apply(lambda text: remove_freqwords(text))
df.head()

from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])
# stemming
df["text_stemmed"] = df["text_wo_stopfreq"].apply(lambda text: stem_words(text))
df.head()

# df.to_csv('textpreprocessing3.csv')

,Text,text_lower,text_wo_punct,text_wo_stopfreq,text_wo_stopfreqrare,text_stemmed
0,Ketua MPR RI Bambang Soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...,ketua mpr ri bambang soesatyo mengatakan musib...
1,Gubernur DKI Jakarta Anies Baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta anies baswedan punya stan...,gubernur dki jakarta ani baswedan punya standa...
2,Komar dan Udin seperti putus harapan. Maksud h...,komar dan udin seperti putus harapan. maksud h...,komar dan udin seperti putus harapan maksud ha...,komar udin seperti putus harapan maksud hati i...,komar udin seperti putus harapan maksud hati i...,komar udin seperti putu harapan maksud hati in...
3,Para pengusaha ritel yang tergabung dalam Asos...,para pengusaha ritel yang tergabung dalam asos...,para pengusaha ritel yang tergabung dalam asos...,para pengusaha ritel tergabung asosiasi pengus...,para pengusaha ritel tergabung asosiasi pengus...,para pengusaha ritel tergabung asosiasi pengus...
4,ADVERTISEMENT SCROLL TO RESUME CONTENT Halama...,advertisement scroll to resume content halama...,advertisement scroll to resume content halama...,advertisement scroll to resume content halaman...,advertisement scroll to resume content halaman...,advertis scroll to resum content halaman 1 2 s...